DEBUG=True
SECRET_KEY=django-insecure-change-this-in-production-please
ALLOWED_HOSTS=localhost,127.0.0.1

# Google reCAPTCHA v2 (admin login uchun)
# Test kalitlari (har doim ishlaydi):
RECAPTCHA_PUBLIC_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
RECAPTCHA_PRIVATE_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe

# PostgreSQL ishlatmoqchi bo'lsangiz:
# DATABASE_URL=postgres://user:password@localhost:5432/turizm
